<form (ngSubmit)="onAddReportPage" #f="ngForm">
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Create report about "{{ attractionName }}"</h4>
  <button type="button" class="btn-close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
    <div>
      <label for="description">Description</label>
      <textarea
        id="description"
        name="description"
        class="form-control mt-2"
        placeholder="Enter description here..."
        rows="10"
        [(ngModel)]="reportMessage"
      >
      {{ reportMessage }}</textarea
      >
    </div>
  </div>
<div class="modal-footer">
  <button type="submit" 
   class="btn btn-danger"
   (click)="onAddReportPage()"
   [disabled]="!f.valid">
    Report
  </button>
  <button type="button" class="btn btn-primary" (click)="closeModal()">
    Cancel
  </button>
</div>
</form>