<div class="modal-body">
  <form (ngSubmit)="onSubmit()" [formGroup]="commentForm">
    <button
      type="button"
      class="btn-close position-absolute end-0 me-2"
      aria-label="Close"
      (click)="onCancel()"
    ></button>
    <div class="form-group mb-3">
      <label for="commentHeading" class="mb-2">Comment heading</label>
      <input
        formControlName="commentHeading"
        type="text"
        class="form-control"
        id="commentHeading"
        placeholder="Enter heading"
        required
      />
    </div>
    <div class="form-group mb-5">
      <label for="commentText" class="mb-2">Comment content</label>
      <textarea
        formControlName="commentText"
        class="form-control"
        id="commentText"
        placeholder="Content"
        rows="7"
        required
      ></textarea>
    </div>

    <div class="modal-footer">
      <div class="float-end">
        <button
          type="submit"
          class="btn btn-success me-4"
          [disabled]="!commentForm.valid"
        >
          Add comment
        </button>
        <button type="button" class="btn btn-secondary" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
