<div class="container m-5">
  <form [formGroup]="profileForm">
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="firstName"
      />
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="lastName"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        readonly
      />
    </div>
    <button
      type="button"
      class="btn btn-primary me-3"
      (click)="changePassword()"
    >
      Change Password
    </button>
    <button type="button" class="btn btn-secondary me-3" (click)="close()">
      Close
    </button>
    <button
      type="submit"
      class="btn btn-success"
      *ngIf="valuesChanged()"
      (click)="save()"
    >
      Save new name
    </button>
  </form>
</div>
