.custom-search-bar {
  width: 400px;
}

@media (max-width: 768px) {
  .custom-search-bar {
    width: 100%;
    min-width: 255px;
  }

  .search-button {
    margin-left: 10px;
  }
}

@media (max-width: 563px) {
  .custom-top-margin {
    margin-top: 10px;
  }
}
