<nav class="navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="navbar-header mb-3 mb-sm-0">
      <a (click)="onNavigateHome()" class="navbar-brand" style="cursor: pointer"
        >WanderDrop</a
      >
    </div>
    <div>
      <form
        [formGroup]="searchForm"
        (ngSubmit)="onSubmit()"
        class="navbar-form"
        role="search"
      >
        <div class="d-flex align-items-center">
          <input
            #search
            formControlName="location"
            class="form-control mr-sm-2 custom-search-bar map-input"
            id="search-input"
            type="search"
            placeholder="Search country/city name"
            aria-label="Search"
          />
          <div class="col-sm-4 col-md-2">
            <button
              class="btn btn-outline-success my-sm-4 ms-2 search-button"
              type="submit"
            >
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
    <div>
      <a
        class="nav-link text-light"
        *ngIf="!isLoggedIn"
        [routerLink]="['/login']"
        >Login</a
      >
      <app-profile-dropdown *ngIf="isLoggedIn"></app-profile-dropdown>
    </div>
  </div>
</nav>
