.my-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #eee;
}

app-google-maps {
  flex-grow: 1;
}

.main-content {
  padding-bottom: 51.188px;
}

@media (max-width: 400px) {
  .main-content {
    padding-bottom: 163.188px;
  }
}
