.invalid-checkbox .form-check-input {
  border-color: red;
}

.card {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row {
  overflow: auto;
}

.success-message {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
  border-radius: 4px;
  animation: fadeOut 3s forwards;
}
