<div>
  <div class="modal-header">
    <h3>Select the reason:</h3>
  </div>

  <form (ngSubmit)="onDelete()" #f="ngForm">
    <div class="modal-body">
      <div *ngFor="let reason of reasons">
        <div class="radio-wrapper">
          <input
            type="radio"
            [(ngModel)]="selectedReason"
            [value]="reason"
            name="reason"
            id="reason"
            required
          /><label for="reason"> {{ reason }}</label>
        </div>
      </div>

      <div class="radio-wrapper">
        <input
          type="radio"
          value="other"
          name="reason"
          id="other"
          [(ngModel)]="selectedReason"
        /><label for="other">Something else</label>
      </div>

      <div class="mb-3 mt-5" *ngIf="selectedReason === 'other'">
        <label for="comment">Please enter another reason:</label>
        <textarea
          id="otherReason"
          name="otherReason"
          class="form-control mt-2"
          placeholder="Specify..."
          rows="5"
          [(ngModel)]="otherReason"
        ></textarea>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-warning" [disabled]="!f.valid">
        Delete
      </button>
      <button type="button" class="btn btn-secondary" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
