<div class="content-body m-3">
  <div class="row">
    <div class="col-xs-12">
      <div class="float-start">
        <h3>Name</h3>

        <div class="row">
          <div class="col-xs-12">
            <div>
              <p>Description</p>
            </div>
          </div>
        </div>
      </div>
      <div class="float-end">
        <button type="button" class="btn btn-primary me-3 py-2 px-4 btn-lg">
          Modify
        </button>
        <button type="button" class="btn btn-warning me-3 py-2 px-4 btn-lg">
          Delete
        </button>

        <button type="button" class="btn btn-danger py-2 px-4 btn-lg">
          Report
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12"></div>
  </div>

  <hr />

  <div class="row">
    <div class="col-xs-12">
      <h4>Comments</h4>
      <div class="comments-section mh-100 overflow-auto">
        <p>i am a comment</p>
      </div>
    </div>
  </div>

  <hr />

  <div class="float-end">
    <button type="button" class="btn btn-primary me-3 py-2 px-4 btn-lg">
      Add Comment
    </button>
    <button type="button" class="btn btn-secondary me-3 py-2 px-4 btn-lg">
      Close
    </button>
  </div>
</div>
