<div class="content-body m-4 extra-padding">
  <div class="row">
    <div class="col-xs-12">
      <button
        type="button"
        class="btn-close position-absolute end-0 m-1"
        aria-label="Close"
      ></button>
      <div class="float-start">
        <h3 class="mb-4 text-primary">{{ attraction.name }}</h3>

        <div class="row">
          <div class="col-xs-12">
            <div style="text-align: justify">
              <p>{{ attraction.description }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="float-end">
        <button
          type="button"
          class="btn btn-primary me-3 py-2 px-4 btn-lg mb-2"
          (click)="openModify(modifyContent)"
        >
          Modify
        </button>

        <ng-template #modifyContent let-modal>
          <app-modify-attraction
            [attractionName]="attractionName"
            [description]="description"
            (dataChanged)="onDataChanged($event)"
          ></app-modify-attraction>
        </ng-template>

        <button
          type="button"
          class="btn btn-warning me-3 py-2 px-4 btn-lg mb-2"
          (click)="openDelete(deleteContent)"
        >
          Delete
        </button>

        <ng-template #deleteContent let-modal>
          <app-delete-confirmation></app-delete-confirmation>
        </ng-template>

        <button type="button" class="btn btn-danger py-2 px-4 btn-lg mb-2">
          Report
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12"></div>
  </div>

  <hr />

  <div class="row">
    <div class="col-xs-12">
      <h4>Comments</h4>
      <div class="comments-section mh-100 overflow-auto">
        <app-comments *ngIf="comments.length; else noComments"></app-comments>
        <ng-template #noComments>
          <p>No comments about this attraction</p>
        </ng-template>
      </div>
    </div>
  </div>

  <hr />

  <div class="float-end">
    <button
      type="button"
      class="btn btn-primary me-3 py-2 px-4 btn-lg mb-1"
      (click)="onAddComment()"
    >
      Add Comment
    </button>

    <ng-template #addCommentContent>
      <app-add-comment></app-add-comment>
    </ng-template>

    <button type="button" class="btn btn-secondary me-3 py-2 px-4 btn-lg mb-1">
      Close
    </button>
  </div>
</div>
